{
//  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "semi": 0,
    "no-unused-vars": [
      0,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "no-tabs": 0,
    "no-mixed-spaces-and-tabs": 0,
    "arrow-body-style": 0,
    "prefer-const": [
      0,
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
