@utf-8;/* Common css */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select {margin:0;padding:0;} 
html {font-size: 62.5%;}
body{font: 1.4rem "宋体","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
li{list-style-type:none;} 
img{vertical-align:middle;border:0;} 
input:focus{outline:0;}
a:link,a:visited,a:focus{color:#747474; text-decoration:none !important;}
a:hover{color:#F60;}

*::-webkit-scrollbar-track-piece {
    background-color: #e4e4e4;
    border-radius: 5px;
}
*::-webkit-scrollbar-thumb{
    background:#aaa;
    border-radius:4px;
}
*::-webkit-scrollbar {
    width: 8px;
    height:8px;
}
.display {
    display: block;
}
.hidden {
    display: none;
}
#root{
    min-width: 1200px;
}

.ellipsis{
    overflow: hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}
